.container_recap {
     padding-top: 5em;
}

.container_recap .card_panier {
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
     margin: 0.5em;
     display: flex;
     justify-content: space-around;
     padding: 0.2em;
     height: 12vh;
}
.container_recap .card_panier .image_produit {
     width: 23%;
}
.container_recap .card_panier .image_produit .image {
     height: 100%;
     width: 100%;
}
.container_recap .card_panier .detail_div {
     width: 72%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}
.container_recap .card_panier .detail_div .name_produit {
     font-size: 0.8em;
}
.container_recap .card_panier .detail_div .price {
     font-weight: bold;
     font-size: 0.8em;
     color: #930207;
}
.container_recap .card_panier .detail_div .action_div {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.container_recap .card_panier .detail_div .action_div .action_quantite {
     font-size: 0.8em;
     display: flex;
     justify-content: space-between;
}


/* detail livraison */

.container_recap .infos_livraison {
     margin: 0.5em;
}
.container_recap .infos_livraison .head {
     margin-bottom: 0.5em;
}
.container_recap .infos_livraison .card_livraison {
     padding: 0.5em;
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
     border-radius: 4px;
}
.container_recap .infos_livraison .card_livraison .card {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0.5em 0;
}
.container_recap .infos_livraison .card_livraison .card .tete {
     width: 40%;
}
.container_recap .infos_livraison .card_livraison .card .infos {
     width: 58%;
     text-align: center;
}

.container_recap .totaux_card {
     margin: 1em;
     padding: 0.5em;
     border-radius: 4px;
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.container_recap .totaux_card .titre {
     height: 6vh;
     border-bottom: 1px solid gray;
     text-transform: uppercase;
     display: flex;
     font-size: 1.2em;
     align-items: center;
}
.container_recap .totaux_card .sous_total {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 5vh;
}
.container_recap .totaux_card .totaux {
     display: flex;
     height: 6vh;
     align-items: center;
     justify-content: space-between;
     border-top: 1px solid gray;
}
.container_recap .totaux_card .totaux span {
     font-size: 1.1em;
     font-weight: bold;
     color: #034917;
}
.container_recap .terminer_button {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 8vh;
}
.container_recap .terminer_button button {
     background: #034917;
     color: white;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     padding: 0.8em 1em;
}






/* Finish style code */
.terminer {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}
.terminer .commande {
     margin: 1em;
     text-align: center;
}
.terminer .container_image {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0.5em 0;
}
.terminer .container_image .image_div {
     width: 95%;
     height: 34vh;
     overflow: hidden;
}
.terminer .image_div .image {
     width: 100%;
     height: 100%;
}
.terminer .retour {
     background: #034917;
     padding: 0.6em 1em;
     border-radius: 50px;
     margin-top: 1em;
     
}
.terminer .retour .link {
     text-decoration: none;
     color: white;
}