.container_panier {
     min-height: 100vh;
     padding-top: 4.5em;
     background: #f6f6f6;
}
.container_panier .index {
     margin: 1em;
     font-size: 1.2em;
     font-weight: bold;
}
.container_panier .contenu_panier .cards_paniers .card_panier {
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
     margin: 0.5em 1em;
     background: white;
     display: flex;
     justify-content: space-around;
     padding: 0.2em;
     height: 12vh;
}
.container_panier .contenu_panier .cards_paniers .card_panier .image_produit {
     width: 23%;
     cursor: pointer;
}
.container_panier .contenu_panier .cards_paniers .card_panier .image_produit .image {
     height: 100%;
     width: 100%;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div {
     width: 72%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div .name_produit {
     font-size: 0.8em;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div .price {
     font-weight: bold;
     font-size: 0.7em;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div .price .reduction {
     color: gray;
     text-decoration: line-through;
     margin-left: 1em;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div .action_div {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div .action_div .action_quantite {
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div .action_div .action_quantite button {
     padding: 0em 0.5em;
     font-size: 0.8em;
     height: 2.8vh;
     color: white;
     cursor: pointer;
     border: none;
     border-radius: 3px;
     background: #034917;
}
.container_panier .contenu_panier .cards_paniers .card_panier .detail_div .action_div .delete_button {
     font-size: 1.3em;
     cursor: pointer;
     color: #930207;
     display: flex;
     align-items: center;
     justify-content: center;
}


/* Totaux produit */
.container_panier .contenu_panier .totaux_card {
     margin: 1em;
     padding: 1em;
     border-radius: 4px;
     background: white;
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.container_panier .contenu_panier .totaux_card .titre {
     height: 6vh;
     border-bottom: 1px solid gray;
     text-transform: uppercase;
     display: flex;
     font-size: 1.3em;
     align-items: center;
}
.container_panier .contenu_panier .totaux_card .sous_total {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 5vh;
}
.container_panier .contenu_panier .totaux_card .totaux {
     display: flex;
     height: 6vh;
     align-items: center;
     justify-content: space-between;
     border-top: 1px solid gray;
}
.container_panier .contenu_panier .totaux_card .totaux span {
     font-size: 1.2em;
     font-weight: bold;
     color: #034917;
}



/* formulaire de livraison */
.container_panier .livraison_containers {
     margin: 1em;
     padding: 1em;
     background: white;
}
.container_panier .livraison_containers p {
     text-transform: uppercase;
     margin-bottom: 1em;
}

.container_panier .livraison_containers .formulaire form .form {
     display: flex;
     flex-direction: column;
}
.container_panier .livraison_containers .formulaire form div input {
     height: 5vh;
     padding-left: 0.7em;
}
.container_panier .livraison_containers .formulaire form .valider {
     height: 5.5vh;
     margin-top: 0.6em;
}
.container_panier .livraison_containers .formulaire form .valider button {
     height: 100%;
     font-size: 1.2em;
     border-radius: 3px;
     border: none;
     width: 100%;
     cursor: pointer;
     background: #034917;
     color: white;
}
.container_panier .livraison_containers .formulaire form .payement {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
}
.container_panier .livraison_containers .formulaire form .payement .livraison_div {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 0.6em;
}
#radio {
     height: 2.5vh;
}
.mantine-14n9mxy {
     display: flex;
     align-items: center;
}

/* Panier css style code */

.panier_vide {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}
.panier_vide .container_image {
     display: flex;
     justify-content: center;
     align-items: center;
}
.panier_vide .container_image .image_div {
     width: 95%;
     height: 35vh;
}
.panier_vide .container_image .image_div .image {
     width: 100%;
     height: 100%;
}
.panier_vide .achat_div {
     margin-top: 2.3em;
}
.panier_vide .achat_div .achat {
     text-decoration: none;
     background: #034917;
     padding: 0.8em 5em;
     font-size: 1em;
     border-radius: 50px;
     color: white;
}

.register {
     text-decoration: none;
     color: #930207;
}
.mantine-7s3aj1 {
     background: #034917;
}



/* produits interessant div */
.elements_interessant {
     margin: 1em 0.5em;
     background: white;
     padding: 0.5em;
}
.elements_interessant .titre {
     margin: 1em 0;
     font-size: 1.15em;
}

@media screen and (min-width: 1200px) {
     .container_panier .index {
          margin-left: 6.5em;
          font-size: 1.5em;
     }
     .container_panier .contenu_panier .large_ecran {
          display: flex;
          justify-content: center;
          margin: 0 3em;
     }
     .container_panier .contenu_panier .large_ecran .cards_paniers {
          width: 60%;
     }
     .container_panier .contenu_panier .large_ecran .totaux_card {
          width: 23%;
     }

     /* panier responsive desktop */
     .container_panier .contenu_panier .cards_paniers .card_panier {
          background: white;
          border-radius: 4px;
          margin: 0 1em 0.3em 0;
          height: 15vh;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .image_produit {
          width: 15%;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .detail_div {
          width: 82%;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .detail_div .name_produit {
          font-size: 1em;
          font-weight: 600;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .detail_div .price {
          font-size: 0.8em;
          font-weight: normal;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .detail_div .price .reduction {
          margin-left: 1.5em;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .detail_div .action_div .action_quantite {
          width: 12%;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .detail_div .action_div .delete_button {
          font-size: 1.2em;
     }
     .container_panier .contenu_panier .cards_paniers .card_panier .detail_div .action_div .action_quantite button {
          font-size: 0.9em;
          height: 3vh;
          font-weight: bold;
     }


          /* Totaux produit */
     .container_panier .contenu_panier .totaux_card {
          background: white;
          margin: 0;
          height: 28vh;
          padding: 0.8em;
     }
     .container_panier .contenu_panier .totaux_card .titre {
          height: 5vh;
     }
     .container_panier .contenu_panier .totaux_card .sous_total {
          height: 6.5vh;
     }
     .container_panier .contenu_panier .totaux_card .totaux {
          height: 7vh;
     }
     .container_panier .contenu_panier .totaux_card .totaux span {
          font-size: 1.2em;
          font-weight: bold;
          color: #034917;
     }


          
     /* formulaire de livraison */
     .container_panier .livraison_containers {
          margin: 2em 0 0 3em;
          display: flex;
          width: 70%;
          background: none;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }
     .container_panier .livraison_containers .head_livraison {
          width: 80%;
     }
     .container_panier .livraison_containers p {
          text-transform: uppercase;
          margin-bottom: 1em;
          font-size: 1.3em;
     }
     .container_panier .livraison_containers .formulaire {
          width: 80%;
          background: white;
          padding: 1em;
          border-radius: 4px;
     }

     .container_panier .livraison_containers .formulaire form .form {
          display: flex;
          flex-direction: column;
     }
     .container_panier .livraison_containers .formulaire form div input {
          height: 6.5vh;
     }
     .container_panier .livraison_containers .formulaire form .valider {
          margin-top: 0.6em;
          display: flex;
          height: 6.5vh;
          align-items: center;
          justify-content: center;
     }
     .container_panier .livraison_containers .formulaire form .valider button {
          font-size: 1.2em;
          width: 40%;
          border-radius: 50px;
          cursor: pointer;
          background: #034917;
     }

     .elements_interessant {
          margin: 1em 3em;
          background: white;
          padding: 1em;
     }
}