.categorie_cards_slider {
     margin: 1em 0;
}

.categorie_cards_slider .card_slider {
     text-decoration: none;
     color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 0.8rem;
}

.categorie_cards_slider .card_slider .icone_categorie {
     height: 7vh;
     width: 53%;
}
.categorie_cards_slider .card_slider .icone_categorie .image {
     height: 100%;
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
     border-radius: 50%;
     width: 100%;
     object-fit: cover;
}


@media screen and (min-width: 1200px) {

     .categorie_cards_slider .card_slider .icone_categorie {
          height: 9vh;
          width: 30%;
     }

}