.container_produits {
     margin-bottom: 6.5em;
}
.container_produits .head_produit {
     margin: 0.5em 1em;
     align-items: center;
     /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}
.container_produits .head_produit .prod {
     text-transform: uppercase;
     font-weight: bold;
     font-size: 1.2em;
}
.container_produits .voir {
     margin: 1.5em;
     text-align: center;
}
.container_produits .voir .voirplus {
     text-decoration: none;
     color: white;
     border-radius: 50px;
     padding: 0.5em 1.5em;
     background: #034917;
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}