.publicité {
     height: 18vh;
     padding: 0 1em;
     margin: 1.5em 0;
     object-fit: cover;
     overflow: hidden;
     width: 100%;
}
.publicité .image {
     height: 100%;
     width: 100%;
}

@media screen and (min-width: 1200px) {
     .publicité {
          height: 40vh;
     }
}

/* index code */
main {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
}
main article {
     position: fixed;
     bottom: 0;
     background: white;
     width: 100%;
     height: 9vh;
}

/* Navbar */
nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100%;
}
nav .nav {
     display: flex;
     text-decoration: none;
     color: black;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}
nav .nav.active {
     color: #034917;
     font-weight: bold;
}
nav .nav span {
     font-size: 1.3em;
}
nav .nav p {
     font-size: 0.8em;
}
nav .nav .nb {
     position: absolute;
     top: 1em;
     right: 14.8em;
     display: flex;
     justify-content: center;
     background: #930207;;
     color: white;
     align-items: center;
     width: 5%;
     border-radius: 50%;
     padding: 0.1em;
     font-weight: bold;
     font-size: 0.5em;
}

/* loading style code */
.loading {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     min-height: 100vh;

}
.loading .logo {
     animation: loading 2s infinite;
     transition: all .2s ease-out;
}
@keyframes loading {
     0% {
          transform: scale(1.1);
     }
     50% {
          transform: scale(1.5);
     }
     100% {
          transform: scale(1.1);
     }
}
